<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../../src/directives/rcSubmit.js"></script>
    <script src="../../src/directives/rcVerifySet.js"></script>
    <script src="../../src/modules/rcForm.js"></script>
    <script src="scripts/LoginApp.js"></script>
    <script src="scripts/LoginController.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
          rel="stylesheet">
  </head>
  <body style="margin: 10px;">
    <h1>Simple Login Form</h1>
    <form name="loginForm" novalidate
          ng-app="LoginApp" ng-controller="LoginController" rc-submit="login()">
        <div class="control-group"
             ng-class="{error: loginForm.username.$invalid && (loginForm.username.$dirty || rc.loginForm.attempted)}">
            <div class="controls">
                <input name="username" type="text" placeholder="Username" required 
                       ng-model="session.username" rc-verify-set />  
                <span class="help-inline" 
                      ng-show="loginForm.username.$error.required">Required</span>
            </div>
        </div>
        <div class="control-group"
             ng-class="{error: loginForm.password.$invalid && (loginForm.password.$dirty || rc.loginForm.attempted)}">
            <div class="controls">
                <input name="password" type="password" placeholder="Password" required 
                       ng-model="session.password" rc-verify-set />
                <span class="help-inline"
                      ng-show="loginForm.password.$error.required">Required</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls controls-row">
                <button type="submit" class="btn" value="Login" title="Login">
                    <span>Login</span>
                </button>
            </div>
        </div>
    </form>
  </body>
</html>